body {font-family: Arial, Helvetica, sans-serif;
}
header{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
h1{
  background-color: #fff200;
  padding:50px;
}
h2{
  border-bottom: 2px;
  border-bottom-style: solid;
  margin-right: 150px;
  color: #000000;
}

#ingredients li{
  list-style-type: none;
  border-bottom: 1px;
  border-bottom-style: dotted;
  margin-right: 250px;
  margin-left:-20px;
  padding-bottom: 10px;
  padding-top: 10px;
}
#instructions li{
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 30px;
}
footer{
  padding:20px;
  background-color: #202020;
  color: #ffffff;
}
